services:
    notenest-backend:
        build:
            context: .
        ports:
            - "8080:8080"
        env_file:
            - docker.env
        depends_on:
            notenest-db:
                condition: service_healthy
        volumes:
            - ./app/docker.env:/app/docker.env
        networks:
            - notenest-backend-net

    migrate:
        image: migrate/migrate
        restart: no
        depends_on:
            notenest-db:
                condition: service_healthy
        env_file:
            - docker.env
        networks:
            - notenest-backend-net
        volumes:
            - ./db/migrations:/db/migrations
            - ./app/docker.env:/app/docker.env
        entrypoint: >
            sh -c "migrate -path=/db/migrations -database=postgres://$$DB_USER:$$DB_PASS@$$DB_HOST:$$DB_PORT/$$DB_NAME?sslmode=$$SSL_MODE up"

    notenest-db:
        image: postgres:17.6-alpine
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydb
        ports:
            - "5433:5432" #optional, for host access. use 5433 because 5432 is used by local postgres
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U notenest_user -d notenest_db"]
            interval: 5s
            timeout: 3s
            retries: 5
        volumes:
            - ./db/init:/docker-entrypoint-initdb.d
            - pgdata:/var/lib/postgresql/data
        networks:
            - notenest-backend-net

volumes:
    pgdata:

networks:
    notenest-backend-net:
        driver: bridge
