{{define "subject"}}Hi {{.Name}}, {{end}}

{{define "plainBody"}}
We got a request to reset your password for your account.

Click the link below to set a new password:
{{.ResetURL}}

If you didn’t request this, just ignore this email — your account is still safe.

This link expires in {{.ExpiryTime}}.

Cheers,
The NoteNest Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset Request</title>
    </head>
    <body>
        <p>Hi {{.Name}}</p>
        <p>We got a request to reset your password for your account.</p>

        <p>Click the link below to set a new password: <a href="{{.ResetURL}}">{{.ResetURL}}</a></p>

        <p>
            If you didn’t request this, just ignore this email — your account is
            still safe.
        </p>

        <p>This link expires in {{.ExpiryTime}}.</p>

        <p>Cheers, The NoteNest team</p>
    </body>
</html>
{{end}}
