{{define "subject"}}Welcome to NoteNest{{end}}

{{define "plainBody"}}
Hi, {{.Name}}

Thanks for signing up for a NoteNest acount. We are excited to have you on board.
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Thanks for signing up for a NoteNest acount. We are excited to have you on board.
    </p>
</body>
</html>
{{end}}
